<!-- Toggleable sidebar -->
<div class="sidebar" id="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <h1>
        <a href="{{ site.url }}">
          {{ site.title_short }}
        </a>
      </h1>
      <p class="lead">{{ site.description }}</p>
    </div>
    
    <nav class="sidebar-nav">

      <a class="sidebar-nav-item" href="{{site.baseurl}}/blog">Blog</a>
      <a class="sidebar-nav-item" href="{{site.baseurl}}/notes">Notes</a>
      <a class="sidebar-nav-item" href="https://drive.google.com/file/d/0B46VW36KYd_NcDZUbmJEVWFmRm8/view?usp=sharing">Resume</a>
      {% comment %}
        The code below dynamically generates a sidebar nav of pages with
        `layout: page` in the front-matter. See readme for usage.
      {% endcomment %}

      {% assign pages_list = site.pages | sort:"url" %}
      {% for node in pages_list %}
        {% if node.title != null %}
          {% if node.layout == "page" %}
            <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="{{ node.url }}">{{ node.title }}</a>
          {% endif %}
        {% endif %}
      {% endfor %}

    </nav>

    <div class="sidebar-item">

      <p class="lead">Contact</p>
      Email: <a href="mailto:rustielin@berkeley.edu">rustielin@berkeley.edu</a> <br>
      GitHub: <a href="https://github.com/rustielin">rustielin</a> <br>
      LinkedIn: <a href="https://www.linkedin.com/in/rustielin/">rustielin</a> <br>

    </div>

    <div class="sidebar-item">


      <p>Currently v{{ site.version }}</p>

      <p>
        &copy; {{ site.time | date: '%Y' }}. Rustie Lin.
      </p>
    </div>


  </div>
</div>
