---
layout: default
---

<p class="message">
  Random notes for when I don't have pen and paper on hand. No guarantees of completeness or comprehensiveness, but perhaps that's just the way my brain functions.
</p>



<div>
    {% for category in site.categorylist %}
        <h2>{{ category | capitalize  }}</h2>
        <ul>
        {% for note in site.notes %}

            {% if note.category == category %}

            <li><a href="{{ site.baseurl }}{{ note.url }}">{{ note.title }}</a></li>

            {% endif %}
        {% endfor %}
        </ul>
    {% endfor %}
</div>